@font-face {
    font-family: 'roboto-super';
    src: url('/fonts/regular/roboto-regular-webfont.woff2') format('woff2'), url('/fonts/regular/roboto-regular-webfont.woff') format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}